.App {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.form {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  text-align: center;
}

.label {
  font-size: 1.2em;
  margin-right: 2vw;
  line-height: 30px;
}

.input {
  height: 30px;
  width: 15vw;
}

.btn {
  margin-left: 5px;
}
